.projects {

    .container {

    }

    .group {
        margin: 0 -1.5em;
    }

    h2 {
        text-align: center;
    }

    .project-item {
        position: relative;
        width: calc(50% - 2em);
        margin: 1em;
        overflow: hidden;

        a {
            text-decoration: none;
            color: inherit;

            &:hover,
            &:focus {
                .image::before {
                    opacity: 1;
                    transform: translate(0,0);
                }
                .date {
                    opacity: 0.75;
                    transform: translate(0,0);
                }
                .title {
                    opacity: 1;
                }
            }
        }

        .image {
            position: relative;

            &::before {
                opacity: 0;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.75);
                background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.75));
                transform: translate(0, 3em);
                transition: $transition-1;
            }
        }

        .info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 1em;
            color: #fff;
        }

        .date {
            font-weight: 600;
            opacity: 0;
            transform: translate(-0.5em, 0);
            transition: $transition-1;
        }

        .title {
            margin: 0;
            opacity: 0.5;
            transition: $transition-1;
        }

        .arrow {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 1em;
            transition: $transition-1;

            i {

            }
        }
    }
}
